{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login ">
    <div class="login-content">
        <form id="loginForm" method="POST" action="{% url 'DjangoHUDApp:pageLogin' %}">
            {% csrf_token %}
            <h1 class="text-center mb-4">Employee Sign In</h1>
            
            <!-- Error Message -->
            {% if error_message %}
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
            
            <!-- Email Field -->
            <div class="mb-3">
                <label for="email" class="form-label">Email Address <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-lg bg-inverse bg-opacity-5" 
                       name="email" id="email" placeholder="Enter your email" required>
            </div>

            <!-- Password Field -->
            <div class="mb-3">
                <div class="d-flex justify-content-between">
                    <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                    <a href="#" class="small text-muted">Forgot password?</a>
                </div>
                <input type="password" class="form-control form-control-lg bg-inverse bg-opacity-5" 
                       name="password" id="password" placeholder="Enter your password" required>
            </div>

            <!-- Submit Button -->
             <button type="submit" class="btn btn-outline-light btn-lg d-block w-100" 
                    style="border-radius: 8px; font-size: 18px; padding: 10px; background-color: #3cd2a5; width:200px; border: none; color: white;">
                Sign In
            </button>
        </form>
    </div>
</div>z
{% endblock %}
